* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 50px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #318CE7;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

.icons {
  cursor: pointer;
}
